{% trans_default_domain 'sidebar' %}
<!--colright-->
<div class="col-md-4 col-sm-12">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h3 class="text-center">{{ 'sidebar.hello' | trans }} {{ app.user.firstname }}</h3>
        <h4 class="text-center">

            {% if is_granted('ROLE_ADMIN') %}
                {% trans from 'roles' %}role.admin{% endtrans %}
            {% elseif is_granted('ROLE_PUBLISHER') %}
                {% trans from 'roles' %}role.publisher{% endtrans %}
            {% elseif is_granted('ROLE_CORRECTOR') %}
                {% trans from 'roles' %}role.corrector{% endtrans %}
            {% elseif is_granted('ROLE_EDITOR') %}
                {% trans from 'roles' %}role.editor{% endtrans %}
            {% elseif is_granted('ROLE_AUTHOR') %}
                {% trans from 'roles' %}role.author{% endtrans %}
            {% else %}
                {% trans from 'roles' %}role.member{% endtrans %}
            {% endif %}

        </h4>

        <ul class="list-group">

            {% if article is defined and article and ( article.user.id == app.user.id and is_granted('ROLE_AUTHOR') )  %}
                <li class="list-group-item">
                    <a href="{{ path('article_edit', { 'id' : article.id }) }}">
                        {{ 'sidebar.article.edit' | trans }}
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_AUTHOR') %}
                <li class="list-group-item">
                    <a href="{{ path('article_add') }}">
                        {{ 'sidebar.article.new' | trans }}
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('article_published') }}">
                        {{ 'sidebar.article.published' | trans }}
                    </a>
                    <span class="badge">{{ publishedArticles() }}</span>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('article_pending') }}">
                        {{ 'sidebar.article.pending' | trans }}
                    </a>
                    <span class="badge">{{ pendingArticles() }}</span>
                </li>
            {% endif %}

            {% if is_granted('ROLE_EDITOR') %}
                <li class="list-group-item">
                    <a href="{{ path('article_approval') }}">
                        {{ 'sidebar.article.approval' | trans }}
                    </a>
                    <span class="badge">{{ approvalArticles() }}</span>
                </li>
            {% endif %}

            {% if is_granted('ROLE_CORRECTOR') %}
                <li class="list-group-item">
                    <a href="{{ path('article_corrector') }}">
                        {{ 'sidebar.article.corrector' | trans }}
                    </a>
                    <span class="badge">{{ correctorArticles() }}</span>
                </li>
            {% endif %}

            {% if is_granted('ROLE_PUBLISHER') %}
                <li class="list-group-item">
                    <a href="{{ path('article_publisher') }}">
                        {{ 'sidebar.article.publisher' | trans }}
                    </a>
                    <span class="badge">{{ publisherArticles() }}</span>
                </li>
            {% endif %}

            <li class="list-group-item">
                <a href="{{ path('security_logout') }}">
                    {% trans from 'navigation' %}nav.logout{% endtrans %}
                </a>
            </li>

        </ul>

    {% endif %}
    
</div>